## folders
.vscode/
data/
docs/
extension_examples
extension_examples/
extscache/
jupyter_kernel/
kit/
PACKAGE-LICENSES/
ros_workspace/
ros2_workspace/
standalone_examples/
tests/
tools/


apps/*
# !apps/omni
# apps/omni/*
# !apps/omni/isaac
# apps/omni/isaac/*
# !apps/omni/isaac/sim
# apps/omni/isaac/sim/*
!apps/omni.issac.sim.python.kit


exts/*
!exts/omni
exts/omni/*
!exts/omni/isaac
exts/omni/isaac/*
!exts/omni.isaac.universal_robots_UR5e



## files
*.sh
*.json
*.yml
*.yaml
*.toml
*.log
